<div class="container my-articles">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-login">
        <div class="panel-heading">
          <%= render 'shared/menu_dashboard' %>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <%= image_tag 'cover.png', class: 'img-circle img-responsive' %>
              <%= link_to 'Cambiar imagen', '#' %>
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Correo electrónico: </td>
                    <td><a href="#"><%= current_user.email %></a></td>
                  </tr>

                  <tr>
                    <td>Telefono:</td>
                    <td><%= current_user.phone %></td>
                  </tr>
                </tbody>
              </table>

              <a href="#" class="btn btn-primary " data-toggle="modal" data-target="#editInfoModal">Editar datos</a>
              <a href="#" data-toggle="modal" data-target="#editPasswordModal" class="btn btn-info">Cambiar Contraseña</a>
              <!-- <a href="#" class="btn btn-danger">Eliminar Cuenta</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'devise/shared/edit_info_modal' %>
<%= render 'devise/shared/edit_password_modal' %>
