<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Editar perfil</h4>
      </div>
      <div class="modal-body">
        <%= form_for(resource, url: password_index_path, html:{id: 'updatePassword' }) do |f| %>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contrase単a" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmar contrase単a"  %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Contrase単a Actual"  %>
            <em>Necesitamos su contrase単a actual para confirmar los cambios</em>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <%= f.submit "Guardar Cambios", class: "form-control btn btn-info"  %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
