<div class="container article-form">
  <div class="row">
		<div class="col-md-10 col-md-offset-1">
      <%= link_to 'volver atras', :back %>
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						<h4>Nuevo Articulo</h4>
					</div>
					<hr>
				</div>
				<div class="panel-body">
          <%= form_for @article, multipart: true do |f| %>
            <div class='row'>
              <div class='col-md-6'>
                <div class="col-md-12 col-sm-6 col-xs-12">
            			<div class="form-group">
            			  <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nombre del articulo" %>
            			</div>
            			<div class="form-group">
            			  <%= f.select :offer_type, generate_list(Article.offer_types) , { include_blank: "Seleccionar tipo" },  { class: 'form-control' }  %>
            			</div>
            			<div class="form-group">
            			  <%= f.text_area :description, class: "form-control", placeholder: "Descripción" %>
            			</div>

                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       <h4>Estado del producto</h4>
                      <%= f.radio_button :status,'available', checked: @article.available?  %>
                      <%= f.label :status, 'Disponible' %>

                      <%= f.radio_button :status,'reserved', checked: @article.reserved?   %>
                      <%= f.label :status, 'Reservado' %>
                    </div>
            			</div>
		            </div>
              </div>

              <div class='col-md-6'>
                <div class="col-md-12 col-sm-6 col-xs-6">
            			<div class="form-group">
            			  <%= f.file_field :photo, class: 'form-control' %>
            			</div>
		            </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <%= f.button "Guardar", class: "form-control btn btn-info"  %>
              </div>
            </div>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</div>
