<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@article.name} en #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.description %>
<% if @article.image_main.present? %>
  <% content_for :meta_image, @article.image_main_url %>
<% end %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row" id="productMain">
          <%= render 'articles/shared/images' %>
          <div class="col-sm-6">
            <div class="description-article">
              <div class="sizes">
                <h3><%= @article.name %></h3>
                <%= badge_offer_type_button(@article.offer_type) %><br/>
                <span class="time-ago">
                  <i class="fa fa-clock-o"></i> <%= time_ago_in_words(@article.updated_at) %>
                </span>
                </br>

                <span class="time-ago">
                  <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @article.location %>
                </span>
              </div>

              <% unless @article.user == current_user %>
                <div class="text-center actions">
                  <% if user_signed_in? %>
                    <%= link_to '<i class="fa fa-address-book-o"></i> Contactar'.html_safe, contact_article_path(@article),remote: true, method: :post, data: {
                      confirm: '¿Esta seguro que lo quieres contactar?',
                        'confirm-button-color': '#ff7473',
                        'confirm-button-text': '¡Si, estoy seguro!',
                        'cancel-button-text': 'Cancelar'
                      }, class: 'btn btn-info' %>
                  <% else %>
                    <%= link_to '<i class="fa fa-address-book-o"></i> Contactar'.html_safe, '#', id:'contactWithoutSignIn', class: 'btn btn-info' %>
                  <% end %>
                  <%= favorited_button(@article) %>
                </div>
              <% end %>
              <div class="text-center">
                <a class="scroll-to" href="#details">Ver Descripción</a>
              </div>
            </div>
            <hr/>

            <div class="row" id="thumbs">
              <div class="jumbotron">
                <p><b>Llevatelo.co</b> NO participa en ninguna negociación,
                  Sólo se limita a la publicación de los artículos de sus usuarios.
                </p>
              </div>
            </div>
          </div>
        </div><!-- end productMain-->
        <hr/>
        <div id="details">
          <p>
            <h4>Descripción</h4>
          <p><%= @article.description %></p>
        </div>
        <div class="social" id="product-social">
          <h4>Compartir</h4>
          <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= article_url(@article) %>"
            class="share facebook" data-network="facebook" data-animate-hover="pulse" style="opacity: 1;">
              <i class="fa fa-facebook"></i>
            </a>

            <a href="https://twitter.com/share?url=<%= article_url(@article) %>"
              class="share twitter" data-network="twitter" data-animate-hover="pulse" style="opacity: 1;">
              <i class="fa fa-twitter"></i>
            </a>

             <a href="https://wa.me/?text=<%= article_url(@article) %>"
              class="share whatsapp" data-network="whatsapp" data-animate-hover="pulse" style="opacity: 1;">
              <i class="fa fa-whatsapp"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->


<script>
  $('a.share').click(function(e){
    e.preventDefault();
    var $link   = $(this);
    var href    = $link.attr('href');
    var network = $link.attr('data-network');

    var networks = {
        facebook : { width : 600, height : 300 },
        twitter  : { width : 600, height : 254 },
        whatsapp : { width : 515, height : 490 },
    };

    var popup = function(network){
        var options = 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,';
        window.open(href, '', options+'height='+networks[network].height+',width='+networks[network].width);
    }

    popup(network);
});
</script>