<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row" id="productMain">
          <%= render 'articles/shared/images' %>
          <div class="col-sm-6">
            <div class="description-article">
              <div class="sizes">
                <h3><%= @article.name %></h3>
                <%= badge_offer_type_button(@article.offer_type) %><br/>
                <span class="time-ago">
                  <i class="fa fa-clock-o"></i> <%= time_ago_in_words(@article.updated_at) %>
                </span>
                </br>

                <span class="time-ago">
                  <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @article.location %>
                </span>
              </div>

              <% unless @article.user == current_user %>
                <div class="text-center actions">
                  <%= link_to '<i class="fa fa-address-book-o"></i> Contactar'.html_safe,contact_article_path(@article),remote: true, method: :post, data: {
                    confirm: '¿Esta seguro que lo quieres contactar?',
                      'confirm-button-color': '#ff7473',
                      'confirm-button-text': '¡Si estoy seguro!',
                      'cancel-button-text': 'Cancelar'
                    },
                   class: 'btn btn-info' %>
                  <%= favorited_button(@article) %>
                </div>
              <% end %>
              <div class="text-center">
                <a class="scroll-to" href="#details">Ver Descripción</a>
              </div>
            </div>
            <hr/>

            <div class="row" id="thumbs">
              <div class="jumbotron">
                <p><b>Llevatelo.co</b> NO participa en ninguna negociación,
                  Sólo se limita a la publicación de los artículos de sus usuarios.
                </p>
              </div>
            </div>
          </div>
        </div><!-- end productMain-->
        <hr/>
        <div id="details">
          <p>
            <h4>Descripción</h4>
          <p><%= @article.description %></p>
        </div>
        <div class="social" id="product-social">
          <h4>Compartir</h4>
          <p>
            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
            <a href="#" class="external gplus" data-animate-hover="pulse" style="opacity: 1;"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="external twitter" data-animate-hover="pulse" style="opacity: 1;"><i class="fa fa-twitter"></i></a>
            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->