<div id="all">
  <%= render 'shared/navigation' %>
  <%= render 'landing/shared/banner' %>
  <%= render 'landing/shared/list_articles' %>
  <%= render 'landing/shared/features' %>
  <%= render 'landing/shared/contact_form' %>
  <%= render 'landing/shared/footer' %>
</div>
