<!-- Portfolio Grid Section -->
<section id="articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Articulos</h2>
        <hr class="star-primary">
      </div>
    </div>
    <!-- Page Features -->
    <div class="row text-center">
    <% Article.all.each do |article| %>
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="thumbnail">
                <%= image_tag(article.photo) %>
              </div>
              <div class="caption">
                <h4><%= article.name %>
                <%= badge_offer_type_button(article.offer_type) %>
                </h4>
                <p class="details">
                  <i class="fa fa-phone"></i><%= article.user.phone %>
                  <span class="label <%= article.available? ? 'label-success' : 'label-default' %>"><%= text_location(article.status) %></span>
                </p>
                <p class="description">
                  <%= article.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    </div><!-- end row-->
    <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
      <%= link_to 'Ver mas', articles_path, class: "btn btn-lg btn-outline" %>
    </div> -->
  </div>
</section>
