<!-- Portfolio Grid Section -->
<section id="articles">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Articulos</h2>
        <hr class="star-primary">
      </div>
    </div>
    <!-- Page Features -->
    <div class="row text-center list-articles">
      <% Article.pusblish_articles(current_user).each do |article| %>
        <div class="col-md-4 col-sm-6">
          <%= link_to article_path(article) do %>
            <div class="thumbnail">
              <%= image_tag display_image_article(article), class: 'img-responsive' %>
              <div class="caption">
                <h5><%= article.name %> (<%= text_location(article.status) %>)</h5>
                <p><%= truncate(article.description, length: 100) %></p>
              </div>
              <div class="ratings">
                <p class="pull-right"><%= badge_offer_type_button(article.offer_type) %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div><!-- end row-->
    <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
      <%= link_to 'Ver mas', articles_path, class: "btn btn-lg btn-outline" %>
    </div> -->
  </div>
</section>
