<div class="articles-listing">
  <% if articles.present? %>
    <table class="table table-striped table-bordered table-list">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <% if editable %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% articles.each do |article| %>
          <tr>
            <td><%= image_tag(display_image_article(article), class: 'img-responsive image-small') %></td>
            <td><%= link_to article.name, article_path(article) %></td>
            <td><p style='width: 90%;'>
              <%= article.description %></p>

            </td>
            <% if editable %>
              <td align="center" style='width: 10%;'>
                <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_article_path(article), class: 'btn btn-default' %>
                <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, article_path(article),
                 data: {
                    confirm: '¿Esta seguro?',
                    'confirm-button-text': 'Si',
                    'cancel-button-text': 'Cancelar'
                  },
                  method: :delete, class: 'btn btn-danger'
                 %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class='empty-article'>No tienes ningún producto todavía</h3>
  <% end %>
</div>
