<!DOCTYPE html>
<html>
  <head>
    <title>Llevatelo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="width=device-width, initial-scale=1">
    <meta name="description" content="¡Un sitio donde puedes pedir lo que necesites, regalar lo que no utilices o simplemete intercambia cosas que no uses!">
   <meta name="keywords" content="regalo, cambio, trueque, necesito">
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
